ph-models/src/main/resources/xsd/cdl/requestMotor.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.cdl.co.uk/schemas/ihp/request" xmlns="http://www.cdl.co.uk/schemas/ihp/request">

	<!-- Simple types -->
	<xs:simpleType name="alcoholReadingTypeList">
		<xs:restriction base="xs:string">
			<xs:enumeration value="B" />
			<xs:enumeration value="L" />
			<xs:enumeration value="U" />	
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="alcoholReadingValueFormatType">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0" />
			<xs:maxInclusive value="999" />
		</xs:restriction>
	</xs:simpleType>	
	
	<xs:simpleType name="annualMileageFormatType">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0" />
			<xs:maxInclusive value="999999" />
		</xs:restriction>
	</xs:simpleType>	
	
	<xs:simpleType name="claimCostsFormatType">
		<xs:restriction base="xs:double">
			<xs:minInclusive value="0" />
		</xs:restriction>
	</xs:simpleType>	
	
	<xs:simpleType name="claimTypeCodeList">
		<xs:restriction base="xs:string">
			<xs:enumeration value="S" />
			<xs:enumeration value="M" />
			<xs:enumeration value="O" />
			<xs:enumeration value="F" />
			<xs:enumeration value="W" />
			<xs:enumeration value="V" />
			<xs:enumeration value="T" />
			<xs:enumeration value="L" />
			<xs:enumeration value="C" />			
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="coverCodeTypeList">
		<xs:restriction base="xs:string">
			<xs:enumeration value="C" />
			<xs:enumeration value="F" />
			<xs:enumeration value="T" />			
		</xs:restriction>
	</xs:simpleType>	
	
	<xs:simpleType name="coverPeriodCodeTypeList">
		<xs:restriction base="xs:string">
			<xs:enumeration value="A" />
			<xs:enumeration value="B" />
			<xs:enumeration value="T" />
			<xs:enumeration value="X" />
			<xs:enumeration value="V" />						
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="coverPeriodNumberTypeList">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="1" />
			<xs:maxInclusive value="9" />
		</xs:restriction>
	</xs:simpleType>	
	
	<xs:simpleType name="coverPeriodTypeList">
		<xs:union memberTypes="coverPeriodCodeTypeList coverPeriodNumberTypeList" />
	</xs:simpleType>			
	
	<xs:simpleType name="dateFormatType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{2}[/][0-9]{2}[/][0-9]{4}"></xs:pattern>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="driverNumberType">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="1" />
			<xs:maxInclusive value="5" />
		</xs:restriction>
	</xs:simpleType>		
	
	<xs:simpleType name="driversAllowedCodeTypeList">
		<xs:restriction base="xs:string">
			<xs:enumeration value="IO" />
			<xs:enumeration value="IS" />
			<xs:enumeration value="ND" />
			<xs:enumeration value="AD" />	
		</xs:restriction>
	</xs:simpleType>	
	
	<xs:simpleType name="driversAllowedNumberTypeList">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="17" />
    		<xs:maxInclusive value="99"/>
		</xs:restriction>
	</xs:simpleType>	
	
	<xs:simpleType name="driversAllowedTypeList">
		<xs:union memberTypes="driversAllowedCodeTypeList driversAllowedNumberTypeList" />
	</xs:simpleType>	
	
	<xs:simpleType name="drivingFrequencyTypeList">
		<xs:restriction base="xs:string">
			<xs:enumeration value="M" />
			<xs:enumeration value="C" />
			<xs:enumeration value="D" />
			<xs:enumeration value="W" />
			<xs:enumeration value="N" />
			<xs:enumeration value="F" />
			<xs:enumeration value="I" />			
		</xs:restriction>
	</xs:simpleType>	
	
	<xs:simpleType name="dwellingTypeList">
		<xs:restriction base="xs:string">
			<xs:enumeration value="H" />
			<xs:enumeration value="F" />
			<xs:enumeration value="C" />
			<xs:enumeration value="S" />
			<xs:enumeration value="A" />
			<xs:enumeration value="M" />
			<xs:enumeration value="Q" />
			<xs:enumeration value="L" />
			<xs:enumeration value="R" />
			<xs:enumeration value="O" />
			<xs:enumeration value="B" />
			<xs:enumeration value="N" />						
		</xs:restriction>
	</xs:simpleType>		
	
	<xs:simpleType name="employmentTypeList">
		<xs:restriction base="xs:string">
			<xs:enumeration value="C" />
			<xs:enumeration value="E" />
			<xs:enumeration value="F" />
			<xs:enumeration value="G" />
			<xs:enumeration value="H" />
			<xs:enumeration value="L" />
			<xs:enumeration value="O" />
			<xs:enumeration value="P" />
			<xs:enumeration value="R" />
			<xs:enumeration value="S" />
			<xs:enumeration value="U" />
			<xs:enumeration value="D" />									
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="genderTypeList">
		<xs:restriction base="xs:string">
			<xs:enumeration value="M" />
			<xs:enumeration value="F" />
			<xs:enumeration value="C" />
		</xs:restriction>	
	</xs:simpleType>		
	
	<xs:simpleType name="licenceTypeList">
		<xs:restriction base="xs:string">
			<xs:enumeration value="F" />
			<xs:enumeration value="P" />
			<xs:enumeration value="I" />
			<xs:enumeration value="A" />
			<xs:enumeration value="E" />
			<xs:enumeration value="O" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="maritalStatusTypeList">
		<xs:restriction base="xs:string">
			<xs:enumeration value="M" />
			<xs:enumeration value="S" />
			<xs:enumeration value="W" />
			<xs:enumeration value="D" />
			<xs:enumeration value="V" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="motoringOrgTypeList">
		<xs:restriction base="xs:string">
			<xs:enumeration value="NONE" />
			<xs:enumeration value="OTHE" />
			<xs:enumeration value="AA" />
			<xs:enumeration value="RAC" />
			<xs:enumeration value="NATB" />
			<xs:enumeration value="AARA" />
			<xs:enumeration value="AIRA" />
			<xs:enumeration value="BRES" />
			<xs:enumeration value="IAM" />
			<xs:enumeration value="INAM" />
			<xs:enumeration value="IARA" />
			<xs:enumeration value="IAMM" />	
			<xs:enumeration value="AAIA" />	
			<xs:enumeration value="ROSP" />								
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="ncdClaimedDiscountTypeList">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="1" />
			<xs:maxInclusive value="2" />
		</xs:restriction>
	</xs:simpleType>	
	
	<xs:simpleType name="ncdClaimedYearsFormatType">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0" />
			<xs:maxInclusive value="99" />
		</xs:restriction>
	</xs:simpleType>				
	
	<xs:simpleType name="ncdEntitlementReasonTypeList">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ND" />
			<xs:enumeration value="CC" />
			<xs:enumeration value="CS" />		
			<xs:enumeration value="PC" />
			<xs:enumeration value="PA" />
			<xs:enumeration value="CV" />
			<xs:enumeration value="GV" />
			<xs:enumeration value="MC" />
			<xs:enumeration value="B1" />
			<xs:enumeration value="B2" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="paymentRegularityTypeList">
		<xs:restriction base="xs:string">
			<xs:enumeration value="A" />
			<xs:enumeration value="F" />
			<xs:enumeration value="M" />
			<xs:enumeration value="N" />
			<xs:enumeration value="Q" />
			<xs:enumeration value="W" />
		</xs:restriction>
	</xs:simpleType>	
	
	<xs:simpleType name="penaltyAmountFormatType">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0" />
		</xs:restriction>
	</xs:simpleType>	
	
	<xs:simpleType name="penaltyPointsFormatType">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0" />
		</xs:restriction>
	</xs:simpleType>	
	
	<xs:simpleType name="polDataTypeList">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Request" />
			<xs:enumeration value="Input" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="postcodeFormatType">
		<xs:restriction base="xs:string">
			<xs:pattern value="(GIR 0AA)|(((XX[0-9][0-9]?)|([A-Z-[QVX]][0-9][0-9]?)|(([A-Z-[QVX]][A-Z-[IJZ]][0-9][0-9]?)|(([A-Z-[QVX]][0-9][A-HJKSTUW])|([A-Z-[QVX]][A-Z-[IJZ]][0-9][ABEHMNPRVWXY])))) [0-9][A-Z-[CIKMOV]]{2})" />
		</xs:restriction>	
	</xs:simpleType>			

	<xs:simpleType name="processingIndTypeList">
		<xs:restriction base="xs:string">
			<xs:enumeration value="02" />
			<xs:enumeration value="04" />
			<xs:enumeration value="05" />
			<xs:enumeration value="14" />
			<xs:enumeration value="10" />
			<xs:enumeration value="22" />
			<xs:enumeration value="08" />
			<xs:enumeration value="36" />
			<xs:enumeration value="37" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="relationToProposerTypeList">
		<xs:restriction base="xs:string">
			<xs:enumeration value="S" />
			<xs:enumeration value="V" />
			<xs:enumeration value="C" />
			<xs:enumeration value="P" />
			<xs:enumeration value="O" />
			<xs:enumeration value="I" />
			<xs:enumeration value="N" />			
		</xs:restriction>
	</xs:simpleType>	
	
	<xs:simpleType name="seatsFormatType">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="1" />
			<xs:maxInclusive value="35" />
		</xs:restriction>
	</xs:simpleType>	
	
	<xs:simpleType name="suspensionPeriodFormatType">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0" />
			<xs:maxInclusive value="999" />
		</xs:restriction>
	</xs:simpleType>	
	
	<xs:simpleType name="tranNameList">
		<xs:restriction base="xs:string">
			<xs:enumeration value="QuoteDetail" />
			<xs:enumeration value="MTA" />
			<xs:enumeration value="CancelAdd" />
			<xs:enumeration value="Renewal" />
			<xs:enumeration value="RenewalAdjustment" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="transmissionTypeList">
		<xs:restriction base="xs:string">
			<xs:enumeration value="A" />
			<xs:enumeration value="M" />
		</xs:restriction>
	</xs:simpleType>			
	
	<xs:simpleType name="usesAbiCodeTypeList">
		<xs:restriction base="xs:string">
			<xs:enumeration value="S" />
			<xs:enumeration value="X" />
			<xs:enumeration value="D" />
			<xs:enumeration value="1" />
			<xs:enumeration value="2" />
			<xs:enumeration value="3" />
			<xs:enumeration value="J" />
			<xs:enumeration value="T" />
			<xs:enumeration value="U" />
			<xs:enumeration value="V" />
			<xs:enumeration value="W" />
			<xs:enumeration value="O" /> <!-- GV only -->
			<xs:enumeration value="H" /> <!-- GV only -->		
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="vehicleBodyTypeList">
		<xs:restriction base="xs:string">
			<xs:enumeration value="S" />
			<xs:enumeration value="E" />
			<xs:enumeration value="H" />
			<xs:enumeration value="C" />
			<xs:enumeration value="U" />
			<xs:enumeration value="V" />
			<xs:enumeration value="A" /> <!-- GV only -->
			<xs:enumeration value="T" /> <!-- GV only -->
			<xs:enumeration value="K" /> <!-- GV only -->
			<xs:enumeration value="P" />
			<xs:enumeration value="W" /> <!-- GV only -->
			<xs:enumeration value="F" /> <!-- GV only -->
			<xs:enumeration value="M" /> <!-- GV only -->
			<xs:enumeration value="N" />			
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="vehicleCCFormatType">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0" />
			<xs:maxInclusive value="99999" />
		</xs:restriction>
	</xs:simpleType>	
	
	<xs:simpleType name="vehicleColourTypeList">
		<xs:restriction base="xs:string">
			<xs:enumeration value="BEIG" />
			<xs:enumeration value="BLAC" />
			<xs:enumeration value="BLUE" />
			<xs:enumeration value="BROW" />
			<xs:enumeration value="GOLD" />
			<xs:enumeration value="GREE" />
			<xs:enumeration value="GREY" />
			<xs:enumeration value="MIXE" />
			<xs:enumeration value="OTHE" />
			<xs:enumeration value="RED" />
			<xs:enumeration value="SILV" />
			<xs:enumeration value="WHIT" />
			<xs:enumeration value="YELL" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="vehicleFinishTypeList">
		<xs:restriction base="xs:string">
			<xs:enumeration value="META" />
			<xs:enumeration value="OTHE" />
			<xs:enumeration value="PEAR" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="vehicleFuelTypeList">
		<xs:restriction base="xs:string">
			<xs:enumeration value="P" />
			<xs:enumeration value="D" />
			<xs:enumeration value="E" />
			<xs:enumeration value="G" />
		</xs:restriction>	
	</xs:simpleType>		
	
	<xs:simpleType name="vehicleImportTypeList">
		<xs:restriction base="xs:string">
			<xs:enumeration value="N" />
			<xs:enumeration value="G" />
			<xs:enumeration value="P" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="vehicleKeptDayTypeList">
		<xs:restriction base="xs:string">
			<xs:enumeration value="HOME" />
			<xs:enumeration value="OPUB" />
			<xs:enumeration value="SPUB" />
			<xs:enumeration value="STRT" />
			<xs:enumeration value="WORK" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="vehicleLocationKeptOvernightTypeList">
		<xs:restriction base="xs:string">
			<xs:enumeration value="G" />
			<xs:enumeration value="D" />
			<xs:enumeration value="R" />
		</xs:restriction>	
	</xs:simpleType>
	
	<xs:simpleType name="vehicleLRDriveTypeList">
		<xs:restriction base="xs:string">
			<xs:enumeration value="L" />
			<xs:enumeration value="R" />
		</xs:restriction>	
	</xs:simpleType>		
	
	<xs:simpleType name="vehicleOwnershipTypeList">
		<xs:restriction base="xs:string">
			<xs:enumeration value="P" />
			<xs:enumeration value="S" />
			<xs:enumeration value="V" />
			<xs:enumeration value="C" />
			<xs:enumeration value="L" />
			<xs:enumeration value="O" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="vehicleValueFormatType">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0" />
		</xs:restriction>
	</xs:simpleType>	
	
	<xs:simpleType name="vehiclesAvailableFormatType">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="1" />
			<xs:maxInclusive value="99" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="volxsAmountFormatType">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="yesNoType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Y" />
			<xs:enumeration value="N" />
		</xs:restriction>
	</xs:simpleType>
	
	
	<!-- Complex types -->
	<xs:complexType name="integerValType">
		<xs:attribute name="Val" type="xs:integer" use="required"/>
	</xs:complexType>	
	
	<xs:complexType name="stringValType">
		<xs:attribute name="Val" type="xs:string"  use="required" />
	</xs:complexType>
	
	<xs:complexType name="doubleValType">
		<xs:attribute name="Val" type="xs:double"  use="required" />
	</xs:complexType>
	
	<xs:complexType name="dateValType">
		<xs:attribute name="Val" type="dateFormatType"  use="required" />
	</xs:complexType>	
	
	<xs:complexType name="yesNoValType">
		<xs:attribute name="Val" type="yesNoType"  use="required" />
	</xs:complexType>	

	<xs:complexType name="polMessageType">	
		<xs:sequence>
			<xs:element name="Transaction" type="transactionType" />
			<xs:element name="Schemes" type="schemesType" />
			<xs:element name="PolData" type="polDataType" minOccurs="1" maxOccurs="2" />
		</xs:sequence>
		
		<xs:attribute name="Type" type="xs:string" fixed="TransactionRequest" use="required"/>		
		<xs:attribute name="Version" type="xs:integer" fixed="1" use="required"/>
	</xs:complexType>	
	
	<xs:complexType name="transactionType">
		<xs:attribute name="TranName" type="tranNameList" use="required"/>
		<xs:attribute name="EffectiveDate" type="dateFormatType" use="required"/>
	</xs:complexType>	
	
	<xs:complexType name="schemesType">
		<xs:sequence>
			<xs:element name="Scheme" type="schemeType" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="schemeType">
		<xs:attribute name="Ref" type="xs:string" use="required"/>	
	</xs:complexType>
	
	<xs:complexType name="polDataType">
		<xs:sequence>
			<xs:element name="ProcessingIndicators" type="processingIndicatorsType" />
			<xs:element name="Software" type="softwareType" />
			<xs:element name="Intermediary" type="intermediaryType" />
			<xs:element name="CalculatedResult" type="calculatedResultType" minOccurs="0" />
			<xs:element name="ProposerPolicyholder" type="proposerPolicyholderType"/>
			<xs:element name="Driver" type="driverType" maxOccurs="5"/>
			<xs:element name="Vehicle" type="vehicleType" maxOccurs="2"/>
			<xs:element name="Cover" type="coverType" />
			<xs:element name="Policy" type="policyType" />
			<xs:element name="InsurerRatingFactor" type="insurerRatingFactorType" maxOccurs="unbounded" />
		</xs:sequence>	
		<xs:attribute name="Type" type="polDataTypeList" use="required"/>	
	</xs:complexType>
	
	<xs:complexType name="processingIndicatorsType">
		<xs:sequence>
			<xs:element name="ProcessingIndicators_ProcessType" type="processingIndicatorsProcessType"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="processingIndicatorsProcessType">
		<xs:attribute name="Val" type="processingIndTypeList" use="required"/>
	</xs:complexType>
	
	<xs:complexType name="intermediaryType">
		<xs:sequence>
			<xs:element name="Intermediary_Code" type="stringValType"/>
			<xs:element name="Intermediary_BusinessSourceText" type="stringValType" minOccurs="0"/>
			<xs:element name="Intermediary_DataSourceCode" type="stringValType" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="softwareType">
		<xs:sequence>
			<xs:element name="Software_Supplier" type="softwareSupplierType"/>
		</xs:sequence>	
	</xs:complexType>
	
	<xs:complexType name="softwareSupplierType">
		<xs:attribute name="Val" fixed="5" use="required"/>
	</xs:complexType>
	
	
	<xs:complexType name="calculatedResultType">
		<xs:sequence>
			<xs:element name="CalculatedResult_OriginalPremium" type="doubleValType"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="proposerPolicyholderType">
		<xs:sequence>
			<xs:element name="ProposerPolicyholder_Surname" type="stringValType"/>
			<xs:element name="ProposerPolicyholder_TitleText" type="stringValType" minOccurs="0"/>
			<xs:element name="ProposerPolicyholder_ForenameInitial1" type="stringValType"/>
			<xs:element name="ProposerPolicyholder_Sex" type="genderType"/>
			<xs:element name="ProposerPolicyholder_DateOfBirth" type="dateValType"/>
			<xs:element name="ProposerPolicyholder_AddressLine1" type="stringValType"/>
			<xs:element name="ProposerPolicyholder_AddressLine2" type="stringValType" minOccurs="0"/>
			<xs:element name="ProposerPolicyholder_AddressLine3" type="stringValType" minOccurs="0"/>
			<xs:element name="ProposerPolicyholder_AddressLine4" type="stringValType" minOccurs="0"/>
			<xs:element name="ProposerPolicyholder_PostCodeFull" type="postcodeType"/>
			<xs:element name="ProposerPolicyholder_MaritalStatus" type="maritalStatusType"/>
			<xs:element name="ProposerPolicyholder_NoOfVehiclesAvailableToFamily" type="vehiclesAvailableType"/>
			<xs:element name="ProposerPolicyholder_HomeownerInd" type="yesNoValType" minOccurs="0"/>
			<xs:element name="ProposerPolicyholder_NoOfChildren" type="integerValType" minOccurs="0"/>
			<xs:element name="ProposerPolicyholder_DateBusinessEstablished" type="dateValType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="genderType">
		<xs:attribute name="Val" type="genderTypeList"  use="required" />
	</xs:complexType>
	
	<xs:complexType name="postcodeType">
		<xs:attribute name="Val" type="postcodeFormatType"  use="required" />
	</xs:complexType>	
	
	<xs:complexType name="maritalStatusType">
		<xs:attribute name="Val" type="maritalStatusTypeList"  use="required" />
	</xs:complexType>

	<xs:complexType name="vehiclesAvailableType">
		<xs:attribute name="Val" type="vehiclesAvailableFormatType"  use="required" />
	</xs:complexType>	
	
	<xs:complexType name="driverType">
		<xs:sequence>
			<xs:element name="Driver_TempAddlInd" type="yesNoValType" minOccurs="0"/>
			<xs:element name="Driver_TempAddlDuration" type="integerValType" minOccurs="0"/>
			<xs:element name="Driver_Prn" type="driverPrnType"/>
			<xs:element name="Driver_Surname" type="stringValType"/>
			<xs:element name="Driver_Forename" type="stringValType"/>
			<xs:element name="Driver_TitleDesc" type="stringValType" minOccurs="0"/>
			<xs:element name="Driver_Sex" type="genderType"/>
			<xs:element name="Driver_MaritalStatus" type="maritalStatusType"/>
			<!-- proposer only, mandatory for proposer -->
			<xs:element name="Driver_TypeOfDwelling" type="dwellingType" minOccurs="0"/>
			<xs:element name="Driver_DateOfBirth" type="dateValType"/>
			<xs:element name="Driver_UkResidencyDate" type="dateValType"/>
			<xs:element name="Driver_LicenceType" type="licenceType"/>
			<xs:element name="Driver_LicenceDate" type="dateValType"/>
			<xs:element name="Driver_ClaimsInd" type="yesNoValType"/>
			<xs:element name="Driver_ConvictionsInd" type="yesNoValType"/>
			<xs:element name="Driver_RegdDisabledInd" type="yesNoValType" minOccurs="0"/>
			<xs:element name="Driver_MedicalConditionInd" type="yesNoValType" minOccurs="0"/>
			<xs:element name="MedicalCondition" type="medicalConditionType" minOccurs="0"/>
			<xs:element name="Driver_RefusedCoverInd" type="yesNoValType"/>
			<xs:element name="Driver_NonMotoringConvictionInd" type="yesNoValType"/>
			<xs:element name="Driver_RelationshipToProposer" type="relationToProposerType" minOccurs="0"/>
			<xs:element name="Driver_OtherVehicleOwnedInd" type="yesNoValType"/>
			<xs:element name="DrivesVehicle" type="drivesVehicleType"/>
			<!-- proposer only, mandatory for proposer -->
			<xs:element name="Driver_MotoringOrganisationMembership" type="motoringOrgType" minOccurs="0"/>
			<!-- proposer only, mandatory for proposer -->
			<xs:element name="Driver_SmokerInd" type="yesNoValType" minOccurs="0"/>
			<xs:element name="Occupation" type="occupationType" maxOccurs="2"/>
			<xs:element name="Incident" type="incidentType" minOccurs="0"/>
		</xs:sequence>	
	</xs:complexType>
	
	<xs:complexType name="driverPrnType">
		<xs:attribute name="Val" type="driverNumberType"  use="required" />
	</xs:complexType>	
	
	<xs:complexType name="dwellingType">
		<xs:attribute name="Val" type="dwellingTypeList"  use="required" />
	</xs:complexType>
	
	<xs:complexType name="licenceType">
		<xs:attribute name="Val" type="licenceTypeList" use="required" />
	</xs:complexType>	

	<xs:complexType name="medicalConditionType">
		<xs:sequence>
			<xs:element name="MedicalCondition_Code" type="stringValType"/>
			<xs:element name="MedicalCondition_DVLAAdvisedInd" type="yesNoValType" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="relationToProposerType">
		<xs:attribute name="Val" type="relationToProposerTypeList" use="required" />
	</xs:complexType>

	<xs:complexType name="drivesVehicleType">
		<xs:sequence>
			<xs:element name="DrivesVehicle_DrivingFrequency" type="drivingFrequencyType"/>
		</xs:sequence>
	</xs:complexType>	
	
	<xs:complexType name="drivingFrequencyType">
		<xs:attribute name="Val" type="drivingFrequencyTypeList" use="required" />
	</xs:complexType>	
	
	<xs:complexType name="motoringOrgType">
		<xs:attribute name="Val" type="motoringOrgTypeList" use="required" />
	</xs:complexType>	

	<xs:complexType name="occupationType">
		<xs:sequence>
			<xs:element name="Occupation_Code" type="stringValType"/>
			<xs:element name="Occupation_EmploymentType" type="employmentType"/>
			<xs:element name="Occupation_EmployersBusiness" type="stringValType"/>
			<xs:element name="Occupation_FullTimeEmploymentInd" type="yesNoValType"/>
		</xs:sequence>
	</xs:complexType>	
	
	<xs:complexType name="employmentType">
		<xs:attribute name="Val" type="employmentTypeList" use="required" />
	</xs:complexType>

	<xs:complexType name="incidentType">
		<xs:sequence>
			<xs:element name="Claim" type="claimType" minOccurs="0" maxOccurs="5"/>
			<xs:element name="Conviction" type="convictionType" minOccurs="0" maxOccurs="5"/>
		</xs:sequence>
	</xs:complexType>	
	
	<xs:complexType name="claimType">
		<xs:sequence>
			<xs:element name="Claim_ClaimType" type="claimTypeCode"/>
			<xs:element name="Claim_Date" type="dateValType"/>
			<xs:element name="Claim_CostsInd" type="claimCostsType"/>
			<xs:element name="Claim_Costs3rdParty" type="claimCostsType"/>	
			<xs:element name="Claim_NcdLostInd" type="yesNoValType"/>
			<xs:element name="Claim_BodilyInjuryCausedInd" type="yesNoValType"/>
			<xs:element name="Claim_CurrentPolicyInd" type="yesNoValType"/>
		</xs:sequence>
	</xs:complexType>		
	
	<xs:complexType name="claimTypeCode">
		<xs:attribute name="Val" type="claimTypeCodeList" use="required" />
	</xs:complexType>	

	<xs:complexType name="claimCostsType">
		<xs:attribute name="Val" type="claimCostsFormatType" use="required" />
	</xs:complexType>

	<xs:complexType name="convictionType">
		<xs:sequence>
			<xs:element name="Conviction_Code" type="stringValType"/>
			<xs:element name="Conviction_Date" type="dateValType"/>
			<xs:element name="Conviction_PenaltyPts" type="penaltyPointsType"/>
			<xs:element name="Conviction_PenaltyAmt" type="penaltyAmountType"/>	
			<xs:element name="Conviction_SuspensionPeriod" type="suspensionPeriodType"/>
			<xs:element name="Conviction_AlcoholReadingType" type="alcoholReadingType" minOccurs="0"/>	
			<xs:element name="Conviction_AlcoholReading" type="alcoholReadingValueType" minOccurs="0"/>				
		</xs:sequence>
	</xs:complexType>		

	<xs:complexType name="penaltyPointsType">
		<xs:attribute name="Val" type="penaltyPointsFormatType" use="required" />
	</xs:complexType>	
	
	<xs:complexType name="penaltyAmountType">
		<xs:attribute name="Val" type="penaltyAmountFormatType" use="required" />
	</xs:complexType>	
	
	<xs:complexType name="suspensionPeriodType">
		<xs:attribute name="Val" type="suspensionPeriodFormatType" use="required" />
	</xs:complexType>	
	
	<xs:complexType name="alcoholReadingType">
		<xs:attribute name="Val" type="alcoholReadingTypeList" use="required" />
	</xs:complexType>
	
	<xs:complexType name="alcoholReadingValueType">
		<xs:attribute name="Val" type="alcoholReadingValueFormatType" use="required" />
	</xs:complexType>		
	
	<xs:complexType name="vehicleType">
		<xs:sequence>
			<xs:element name="Vehicle_TempAddlInd" type="yesNoValType" minOccurs="0"/>
			<xs:element name="Vehicle_TempAddlDuration" type="integerValType" minOccurs="0"/>
			<xs:element name="Uses" type="usesType"/>
			<xs:element name="Vehicle_PostCodeFull" type="vehiclePostcodeType"/>
			<xs:element name="Vehicle_RegNo" type="stringValType" minOccurs="0"/>
			<xs:element name="Vehicle_Model" type="stringValType"/>
			<xs:element name="Vehicle_TransmissionType" type="transmissionType" />
			<xs:element name="Vehicle_YearManufactured" type="vehicleYearManufacturedType"/>
			<xs:element name="Vehicle_Value" type="vehicleValueType"/>
			<xs:element name="Vehicle_PricePaid" type="vehicleValueType"/>
			<xs:element name="Vehicle_PurchaseDate" type="dateValType"/>
			<xs:element name="Vehicle_AnnualMileage" type="vehicleAnnualMileageType"/>
			<xs:element name="Vehicle_NoOfSeats" type="vehicleSeatsType"/>
			<xs:element name="Vehicle_LocationKeptOvernight" type="vehicleLocationKeptOvernightType"/>
			<xs:element name="Vehicle_Ownership" type="vehicleOwnershipType"/>
			<xs:element name="Vehicle_Keeper" type="yesNoValType"/>			
			<xs:element name="Vehicle_ModifiedInd" type="yesNoValType"/>
			<xs:element name="Vehicle_BodyType" type="vehicleBodyType"/>
			<xs:element name="Vehicle_CubicCapacity" type="vehicleCCType"/>
			<xs:element name="Vehicle_LeftOrRightHandDrive" type="vehicleLRDriveType"/>
			<xs:element name="Vehicle_TypeOfFuel" type="vehicleFuelType"/>
			<xs:element name="Vehicle_GrossWeight" type="doubleValType" minOccurs="0"/> 
			<xs:element name="Vehicle_RadiusOfOperation" type="integerValType" minOccurs="0"/> <!--  GV only -->
			<xs:element name="Vehicle_Colour" type="vehicleColourType" minOccurs="0"/>
			<xs:element name="Vehicle_Finish" type="vehicleFinishType" minOccurs="0"/>
			<xs:element name="Vehicle_PersonalImportInd" type="vehicleImportType" minOccurs="0"/>
			<xs:element name="Vehicle_VehicleKeptDaytime" type="vehicleKeptDayType" minOccurs="0"/>
			<xs:element name="Security" type="securityType" minOccurs="0" maxOccurs="3"/>
			<xs:element name="Ncd" type="ncdType"/>
			<xs:element name="Modifications" type="modsType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Trailer" type="trailerType" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="usesType">
		<xs:sequence>
			<xs:element name="Uses_AbiCode" type="usesAbiCodeType"/>
			<xs:element name="Uses_UsedByDriver1Ind" type="yesNoValType"/>
			<xs:element name="Uses_UsedByDriver2Ind" type="yesNoValType" minOccurs="0"/>
			<xs:element name="Uses_UsedByDriver3Ind" type="yesNoValType" minOccurs="0"/>
			<xs:element name="Uses_UsedByDriver4Ind" type="yesNoValType" minOccurs="0"/>
			<xs:element name="Uses_UsedByDriver5Ind" type="yesNoValType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="ncdType">
		<xs:sequence>
			<xs:element name="Ncd_ClaimedYears" type="ncdClaimedYearsType"/>
			<xs:element name="Ncd_ClaimedProtectionReqdInd" type="yesNoValType" minOccurs="0"/>
			<xs:element name="Ncd_ClaimedDiscountType" type="ncdClaimedDiscountType" minOccurs="0"/>
			<xs:element name="Ncd_ClaimedEntitlementReason" type="ncdEntitlementReasonType" minOccurs="0"/>
			<xs:element name="Ncd_ClaimedPreviousPolicyExpiryDate" type="dateValType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="trailerType">
		<xs:sequence>
			<xs:element name="Trailer_Value" type="integerValType" />
			<xs:element name="Trailer_MakeDesc" type="stringValType" minOccurs="0" />
			<xs:element name="Trailer_Cover" type="coverCodeType" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="coverType">
		<xs:sequence>
			<xs:element name="Cover_Code" type="coverCodeType"/>
			<xs:element name="Cover_DriversAllowed" type="driversAllowedType"/>
			<xs:element name="Cover_VolXsAmt" type="volxsAmountType" minOccurs="0"/>
			<xs:element name="Cover_Period" type="coverPeriodType"/>
			<xs:element name="Cover_TotalTempMtas" type="integerValType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>	
	
	<xs:complexType name="policyType">
		<xs:sequence>
			<xs:element name="Policy_QuoteAuthorisationRef" type="stringValType"/>
			<xs:element name="Policy_InceptionDate" type="dateValType"/>
			<xs:element name="Policy_YearsWithIntermediary" type="integerValType" minOccurs="0"/>
			<xs:element name="Policy_EffectiveStartDate" type="dateValType"/>
			<xs:element name="Policy_EffectiveEndDate" type="dateValType"/>
			<xs:element name="Policy_PrevExpiryDate" type="dateValType"/>
			<xs:element name="Policy_SchemeVariant" type="stringValType" minOccurs="0"/>
			<xs:element name="Policy_PrevPaymentRegularity" type="paymentRegularityType" />
			<xs:element name="Policy_HazardousGoodsCarriedInd" type="yesNoValType" minOccurs="0" />
			<xs:element name="Policy_Conversion" type="yesNoValType" minOccurs="0"/>
			<xs:element name="PolicyCommunicationData" type="policyCommunicationType" minOccurs="0"/>
			<xs:element name="PolicyEvent" type="policyEventType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>	
	
		<xs:complexType name="policyCommunicationType">
		<xs:sequence>
			<xs:element name="PolicyCommunicationData_SubjectCode" type="stringValType" minOccurs="0"/>
			<xs:element name="PolicyCommunicationData_FunctionCode" type="stringValType" minOccurs="0"/>
			<xs:element name="PolicyCommunicationData_ReferenceCodelist" type="stringValType" minOccurs="0"/>
			<xs:element name="PolicyCommunicationData_ReferenceCodelistValue" type="stringValType" minOccurs="0"/>
			<xs:element name="PolicyCommunicationData_TextVariable1" type="stringValType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>	
	
	<xs:complexType name="insurerRatingFactorType">
		<xs:sequence>
			<xs:element name="InsurerRatingFactor_Code" type="stringValType" />
		</xs:sequence>
	</xs:complexType>		
	
	<xs:complexType name="usesAbiCodeType">
		<xs:attribute name="Val" type="usesAbiCodeTypeList" use="required" />
	</xs:complexType>

	<xs:complexType name="vehiclePostcodeType">
		<xs:attribute name="Val" type="postcodeFormatType" use="required" />
	</xs:complexType>
	
	<xs:complexType name="transmissionType">
		<xs:attribute name="Val" type="transmissionTypeList" use="required" />
	</xs:complexType>
	
	<xs:complexType name="vehicleYearManufacturedType">
		<xs:attribute name="Val" type="xs:gYear" use="required" />
	</xs:complexType>
	
	<xs:complexType name="vehicleValueType">
		<xs:attribute name="Val" type="vehicleValueFormatType" use="required" />
	</xs:complexType>

	<xs:complexType name="vehicleAnnualMileageType">
		<xs:attribute name="Val" type="annualMileageFormatType" use="required"/>
	</xs:complexType>
	
	<xs:complexType name="vehicleSeatsType">
		<xs:attribute name="Val" type="seatsFormatType" use="required"/>
	</xs:complexType>	
	
	<xs:complexType name="vehicleLocationKeptOvernightType">
		<xs:attribute name="Val" type="vehicleLocationKeptOvernightTypeList" use="required"/>
	</xs:complexType>	
	
	<xs:complexType name="vehicleOwnershipType">
		<xs:attribute name="Val" type="vehicleOwnershipTypeList" use="required"/>
	</xs:complexType>		

	<xs:complexType name="vehicleBodyType">
		<xs:attribute name="Val" type="vehicleBodyTypeList" use="required"/>
	</xs:complexType>	
	
	<xs:complexType name="vehicleCCType">
		<xs:attribute name="Val" type="vehicleCCFormatType" use="required"/>
	</xs:complexType>	
	
	<xs:complexType name="vehicleLRDriveType">
		<xs:attribute name="Val" type="vehicleLRDriveTypeList" use="required"/>
	</xs:complexType>	
	
	<xs:complexType name="vehicleFuelType">
		<xs:attribute name="Val" type="vehicleFuelTypeList" use="required"/>
	</xs:complexType>	
	
	<xs:complexType name="vehicleColourType">
		<xs:attribute name="Val" type="vehicleColourTypeList" use="required"/>
	</xs:complexType>
	
	<xs:complexType name="vehicleFinishType">
		<xs:attribute name="Val" type="vehicleFinishTypeList" use="required"/>
	</xs:complexType>
	
	<xs:complexType name="vehicleImportType">
		<xs:attribute name="Val" type="vehicleImportTypeList" use="required"/>
	</xs:complexType>
	
	<xs:complexType name="vehicleKeptDayType">
		<xs:attribute name="Val" type="vehicleKeptDayTypeList" use="required"/>
	</xs:complexType>
	
	<xs:complexType name="securityType">
		<xs:sequence>
			<xs:element name="Security_MakeModel" type="stringValType"/>
		</xs:sequence>
	</xs:complexType>
	
		
	<xs:complexType name="ncdClaimedYearsType">
		<xs:attribute name="Val" type="ncdClaimedYearsFormatType" use="required"/>
	</xs:complexType>	
	
	<xs:complexType name="ncdClaimedDiscountType">
		<xs:attribute name="Val" type="ncdClaimedDiscountTypeList" use="required"/>
	</xs:complexType>		

	<xs:complexType name="ncdEntitlementReasonType">
		<xs:attribute name="Val" type="ncdEntitlementReasonTypeList" use="required"/>
	</xs:complexType>
	
	<xs:complexType name="modsType">
		<xs:sequence>
			<xs:element name="Modification_Code" type="integerValType" />
		</xs:sequence>
	</xs:complexType>		
	
	
	<xs:complexType name="coverCodeType">
		<xs:attribute name="Val" type="coverCodeTypeList" use="required"/>
	</xs:complexType>	
	
	<xs:complexType name="driversAllowedType">
		<xs:attribute name="Val" type="driversAllowedTypeList" use="required"/>
	</xs:complexType>	
	
	<xs:complexType name="volxsAmountType">
		<xs:attribute name="Val" type="volxsAmountFormatType" use="required"/>
	</xs:complexType>	
	
	<xs:complexType name="coverPeriodType">
		<xs:attribute name="Val" type="coverPeriodTypeList" use="required"/>
	</xs:complexType>
	
	<xs:complexType name="paymentRegularityType">
		<xs:attribute name="Val" type="paymentRegularityTypeList" use="required"/>
	</xs:complexType>		
	
	<xs:complexType name="policyEventType">
		<xs:sequence>
			<xs:element name="PolicyEvent_Date" type="dateValType"/>
		</xs:sequence>
	</xs:complexType>
						
	
	<xs:element name="PolMessage" type="polMessageType"/>

</xs:schema>