ph-models/src/main/resources/xls/elements.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">


	<xs:include schemaLocation="complexTypes.xsd"/>
	
	<xs:element name="Quote_Number" type="quoteNumber"/>
	<xs:element name="Policy_Type" type="policyType"/>
	<xs:element name="Policy_Radar_Version" type="policyRadarVersion"/>
	<xs:element name="Policy_Test_Group" type="policyTestGroup"/>
	<xs:element name="Policy_Rated_Driver" type="policyRatedDriver"/>
	<xs:element name="Prem_Quote_to_Panel" type="premQuoteToPanel"/>
	<xs:element name="BusinessRules_Result" type="businessrulesResult"/>
	<xs:element name="BusinessRules_DetailedResult" type="businessrulesDetailedresult"/>
	<xs:element name="BusinessRules_DataValidation" type="businessrulesDatavalidation"/>
	<xs:element name="BusinessRules_ErrorMessages" type="businessrulesErrormessages"/>
	<xs:element name="BusinessRules_Endorsements" type="businessrulesEndorsements"/>
	<xs:element name="Policy_Compulsory_XS" type="policyCompulsoryXs"/>
	<xs:element name="Prem_Contrib_to_Expenses" type="premContribToExpenses"/>
	<xs:element name="Prem_claims" type="premClaims"/>
	<xs:element name="Prem_large_claims" type="premLargeClaims"/>
	<xs:element name="Prem_expenses" type="premExpenses"/>
	<xs:element name="Prem_RI" type="premRi"/>
	<xs:element name="Prem_Levies" type="premLevies"/>
	<xs:element name="d1_Named_Driver_Age" type="d1NamedDriverAge"/>
	<xs:element name="d1_residenceYears" type="d1Residenceyears"/>
	<xs:element name="d1_Named_Driver_Experience_Years" type="d1NamedDriverExperienceYears"/>
	<xs:element name="d2_Named_Driver_Age" type="d2NamedDriverAge"/>
	<xs:element name="d2_residenceYears" type="d2Residenceyears"/>
	<xs:element name="d2_Named_Driver_Experience_Years" type="d2NamedDriverExperienceYears"/>
	<xs:element name="d3_Named_Driver_Age" type="d3NamedDriverAge"/>
	<xs:element name="d3_residenceYears" type="d3Residenceyears"/>
	<xs:element name="d3_Named_Driver_Experience_Years" type="d3NamedDriverExperienceYears"/>
	<xs:element name="d4_Named_Driver_Age" type="d4NamedDriverAge"/>
	<xs:element name="d4_residenceYears" type="d4Residenceyears"/>
	<xs:element name="d4_Named_Driver_Experience_Years" type="d4NamedDriverExperienceYears"/>
	<xs:element name="d5_Named_Driver_Age" type="d5NamedDriverAge"/>
	<xs:element name="d5_residenceYears" type="d5Residenceyears"/>
	<xs:element name="d5_Named_Driver_Experience_Years" type="d5NamedDriverExperienceYears"/>
	<xs:element name="Worst_Non_Rated_Driver_Age" type="worstNonRatedDriverAge"/>
	<xs:element name="Worst_Non_Rated_Driver_YHL" type="worstNonRatedDriverYhl"/>
	<xs:element name="Worst_Non_Rated_Driver_ResidenceYears" type="worstNonRatedDriverResidenceyears"/>
	<xs:element name="Worst_Non_Rated_Driver_MaritalStatus" type="worstNonRatedDriverMaritalstatus"/>
	<xs:element name="Worst_Non_Rated_Driver_Occupation" type="worstNonRatedDriverOccupation"/>
	<xs:element name="ClnP_Usage" type="clnpUsage"/>
	<xs:element name="ClnP_DOB" type="clnpDob"/>
	<xs:element name="ClnP_Gender_Code" type="clnpGenderCode"/>
	<xs:element name="ClnP_Marital_Status_Code" type="clnpMaritalStatusCode"/>
	<xs:element name="ClnP_Refused_Insurance_Flag" type="clnpRefusedInsuranceFlag"/>
	<xs:element name="ClnP_Previous_Convictions_Flag" type="clnpPreviousConvictionsFlag"/>
	<xs:element name="ClnP_Smoker_Flag" type="clnpSmokerFlag"/>
	<xs:element name="ClnP_Occupation" type="clnpOccupation"/>
	<xs:element name="ClnP_Occupation_Status" type="clnpOccupationStatus"/>
	<xs:element name="ClnP_Employer" type="clnpEmployer"/>
	<xs:element name="ClnP_Part_Time_Occupation" type="clnpPartTimeOccupation"/>
	<xs:element name="ClnP_Part_Time_Occupation_Status" type="clnpPartTimeOccupationStatus"/>
	<xs:element name="ClnP_Part_Time_Employer" type="clnpPartTimeEmployer"/>
	<xs:element name="ClnP_Number_of_Other_Vehicles" type="clnpNumberOfOtherVehicles"/>
	<xs:element name="Policy_Date_of_First_Quote" type="policyDateOfFirstQuote"/>
	<xs:element name="Policy_Inception_DateTime" type="policyInceptionDatetime"/>
	<xs:element name="Policy_Start_DateTime" type="policyStartDatetime"/>
	<xs:element name="Risk_Start_DateTime" type="riskStartDatetime"/>
	<xs:element name="Risk_Postcode" type="riskPostcode"/>
	<xs:element name="Policy_Postcode" type="policyPostcode"/>
	<xs:element name="Policy_Source_Original" type="policySourceOriginal"/>
	<xs:element name="Policy_Source_Current" type="policySourceCurrent"/>
	<xs:element name="Agency" type="agency"/>
	<xs:element name="Risk_Affinity_Code" type="riskAffinityCode"/>
	<xs:element name="Policy_Branch" type="policyBranch"/>
	<xs:element name="NCB_Years" type="ncbYears"/>
	<xs:element name="Claim_Free_Years" type="claimFreeYears"/>
	<xs:element name="NCB_Source" type="ncbSource"/>
	<xs:element name="Voluntary_Excess" type="voluntaryExcess"/>
	<xs:element name="Cover_Type_Detail" type="coverTypeDetail"/>
	<xs:element name="Previous_Payment_Method" type="previousPaymentMethod"/>
	<xs:element name="Policy_Frequency" type="policyFrequency"/>
	<xs:element name="Quote_Type" type="quoteType"/>
	<xs:element name="Annual_Mileage" type="annualMileage"/>
	<xs:element name="Annual_Business_Mileage" type="annualBusinessMileage"/>
	<xs:element name="Class_of_Use_Code" type="classOfUseCode"/>
	<xs:element name="Protected_NCB" type="protectedNcb"/>
	<xs:element name="Driving_Restrictions" type="drivingRestrictions"/>
	<xs:element name="Proposer_Is_Keeper_Flag" type="proposerIsKeeperFlag"/>
	<xs:element name="Owner_Type" type="ownerType"/>
	<xs:element name="Vehicle_Type" type="vehicleType"/>
	<xs:element name="Year_of_Make" type="yearOfMake"/>
	<xs:element name="Purchase_Date" type="purchaseDate"/>
	<xs:element name="Price_Paid" type="pricePaid"/>
	<xs:element name="Present_Market_Value" type="presentMarketValue"/>
	<xs:element name="Where_Kept" type="whereKept"/>
	<xs:element name="Alarm" type="alarm"/>
	<xs:element name="Immobiliser" type="immobiliser"/>
	<xs:element name="Tracker" type="tracker"/>
	<xs:element name="Body" type="body"/>
	<xs:element name="Vehicle_Modification_Flag" type="vehicleModificationFlag"/>
	<xs:element name="Modification1" type="modification1"/>
	<xs:element name="Modification2" type="modification2"/>
	<xs:element name="Modification3" type="modification3"/>
	<xs:element name="Modification4" type="modification4"/>
	<xs:element name="Modification5" type="modification5"/>
	<xs:element name="Left_Hand_Drive_Flag" type="leftHandDriveFlag"/>
	<xs:element name="ABS_Flag" type="absFlag"/>
	<xs:element name="Number_of_Doors" type="numberOfDoors"/>
	<xs:element name="Number_of_Seats" type="numberOfSeats"/>
	<xs:element name="Fuel" type="fuel"/>
	<xs:element name="Transmission" type="transmission"/>
	<xs:element name="Previous_Bonus_Protect_Flag" type="previousBonusProtectFlag"/>
	<xs:element name="Vehicle_Colour" type="vehicleColour"/>
	<xs:element name="Vehicle_Finish" type="vehicleFinish"/>
	<xs:element name="d1_Named_Driver_Id" type="d1NamedDriverId"/>
	<xs:element name="d1_Named_Driver_DOB" type="d1NamedDriverDob"/>
	<xs:element name="d1_Named_Driver_Gender" type="d1NamedDriverGender"/>
	<xs:element name="d1_Named_Driver_Marital_Status" type="d1NamedDriverMaritalStatus"/>
	<xs:element name="d1_Named_Driver_Occupation" type="d1NamedDriverOccupation"/>
	<xs:element name="d1_Named_Driver_Employer" type="d1NamedDriverEmployer"/>
	<xs:element name="d1_Named_Driver_Occupation_Status" type="d1NamedDriverOccupationStatus"/>
	<xs:element name="d1_Named_Driver_Part_Time_Occupation" type="d1NamedDriverPartTimeOccupation"/>
	<xs:element name="d1_Named_Driver_Part_Time_Employer" type="d1NamedDriverPartTimeEmployer"/>
	<xs:element name="d1_Named_Driver_Part_Time_Occupation_Status" type="d1NamedDriverPartTimeOccupationStatus"/>
	<xs:element name="d1_UkResidencyDate" type="d1Ukresidencydate"/>
	<xs:element name="d1_Relation_To_Proposer" type="d1RelationToProposer"/>
	<xs:element name="d1_Driver_Type" type="d1DriverType"/>
	<xs:element name="d1_Access_To_Other_Vehicles" type="d1AccessToOtherVehicles"/>
	<xs:element name="d1_Use_of_Vehicle" type="d1UseOfVehicle"/>
	<xs:element name="d1_Licence_Category" type="d1LicenceCategory"/>
	<xs:element name="d1_Licence_Type" type="d1LicenceType"/>
	<xs:element name="d1_Number_of_Tests_Taken" type="d1NumberOfTestsTaken"/>
	<xs:element name="d1_Test_Passed_Date" type="d1TestPassedDate"/>
	<xs:element name="d1o1_Convictions_Details_Code" type="d1o1ConvictionsDetailsCode"/>
	<xs:element name="d1o1_Offence_Date_Id" type="d1o1OffenceDateId"/>
	<xs:element name="d1o1_Number_of_Conviction_Points" type="d1o1NumberOfConvictionPoints"/>
	<xs:element name="d1o1_Fine_Amount" type="d1o1FineAmount"/>
	<xs:element name="d1o1_Number_of_Months_Suspended" type="d1o1NumberOfMonthsSuspended"/>
	<xs:element name="d1o1_Drink_ReadingType" type="d1o1DrinkReadingtype"/>
	<xs:element name="d1o1_Drink_ReadingValue" type="d1o1DrinkReadingvalue"/>
	<xs:element name="D1O2_Repeat_D1O1" type="d1o2RepeatD1O1"/>
	<xs:element name="D1O3_Repeat_D1O1" type="d1o3RepeatD1O1"/>
	<xs:element name="D1O4_Repeat_D1O1" type="d1o4RepeatD1O1"/>
	<xs:element name="D1O5_Repeat_D1O1" type="d1o5RepeatD1O1"/>
	<xs:element name="d1c1_Claim_Category" type="d1c1ClaimCategory"/>
	<xs:element name="d1c1_Incident_Date_Id" type="d1c1IncidentDateId"/>
	<xs:element name="d1c1_NCB_Prejudiced_Flag" type="d1c1NcbPrejudicedFlag"/>
	<xs:element name="d1c1_Own_Damage_Cost" type="d1c1OwnDamageCost"/>
	<xs:element name="d1c1_Personal_Injury_Flag" type="d1c1PersonalInjuryFlag"/>
	<xs:element name="d1c1_Third_Party_Cost" type="d1c1ThirdPartyCost"/>
	<xs:element name="d1c1_Under_This_Policy_Flag" type="d1c1UnderThisPolicyFlag"/>
	<xs:element name="D1C2_Repeat_D1C1" type="d1c2RepeatD1C1"/>
	<xs:element name="D1C3_Repeat_D1C1" type="d1c3RepeatD1C1"/>
	<xs:element name="D1C4_Repeat_D1C1" type="d1c4RepeatD1C1"/>
	<xs:element name="D1C5_Repeat_D1C1" type="d1c5RepeatD1C1"/>
	<xs:element name="DRIVER_2" type="driver2"/>
	<xs:element name="DRIVER_3" type="driver3"/>
	<xs:element name="DRIVER_4" type="driver4"/>
	<xs:element name="DRIVER_5" type="driver5"/>
	<xs:element name="Postcode_Group1" type="postcodeGroup1"/>
	<xs:element name="Postcode_Group2" type="postcodeGroup2"/>
	<xs:element name="Postcode_Group3" type="postcodeGroup3"/>
	<xs:element name="Postcode_Group4" type="postcodeGroup4"/>
	<xs:element name="Postcode_Group5" type="postcodeGroup5"/>
	<xs:element name="Postcode_Group6" type="postcodeGroup6"/>
	<xs:element name="Postcode_Group7" type="postcodeGroup7"/>
	<xs:element name="Postcode_Group8" type="postcodeGroup8"/>
	<xs:element name="Postcode_Group9" type="postcodeGroup9"/>
	<xs:element name="Postcode_Group10" type="postcodeGroup10"/>
	<xs:element name="Postcode_Group11" type="postcodeGroup11"/>
	<xs:element name="Postcode_Group12" type="postcodeGroup12"/>
	<xs:element name="Postcode_Group13" type="postcodeGroup13"/>
	<xs:element name="Postcode_Group14" type="postcodeGroup14"/>
	<xs:element name="Postcode_Group15" type="postcodeGroup15"/>
	<xs:element name="Postcode_Group_Version" type="postcodeGroupVersion"/>
	<xs:element name="Postcode_Sector_Not_Found" type="postcodeSectorNotFound"/>
	<xs:element name="Vehicle_Group1" type="vehicleGroup1"/>
	<xs:element name="Vehicle_Group2" type="vehicleGroup2"/>
	<xs:element name="Vehicle_Group3" type="vehicleGroup3"/>
	<xs:element name="Vehicle_Group4" type="vehicleGroup4"/>
	<xs:element name="Vehicle_Group5" type="vehicleGroup5"/>
	<xs:element name="Vehicle_Group6" type="vehicleGroup6"/>
	<xs:element name="Vehicle_Group7" type="vehicleGroup7"/>
	<xs:element name="Vehicle_Group8" type="vehicleGroup8"/>
	<xs:element name="Vehicle_Group9" type="vehicleGroup9"/>
	<xs:element name="Vehicle_Group10" type="vehicleGroup10"/>
	<xs:element name="Vehicle_Group_Version" type="vehicleGroupVersion"/>
	<xs:element name="Vehicle_Not_Matched_Flag" type="vehicleNotMatchedFlag"/>
	<xs:element name="Existing_customer_same_vehicle" type="existingCustomerSameVehicle"/>
	<xs:element name="Existing_customer_different_vehicle" type="existingCustomerDifferentVehicle"/>
	<xs:element name="Time_since_last_on_cover_with_Surething" type="timeSinceLastOnCoverWithSurething"/>
	<xs:element name="Number_of_previous_policies" type="numberOfPreviousPolicies"/>
	<xs:element name="Number_of_previous_renewals" type="numberOfPreviousRenewals"/>
	<xs:element name="Number_defaults_on_previous_policies" type="numberDefaultsOnPreviousPolicies"/>
	<xs:element name="Number_of_cancellations" type="numberOfCancellations"/>
	<xs:element name="Number_of_MTAs_with_Surething_Broker" type="numberOfMtasWithSurethingBroker"/>
	<xs:element name="Number_of_vehicle_change_MTAs_with_Surething_Broker" type="numberOfVehicleChangeMtasWithSurethingBroker"/>
	<xs:element name="Number_of_claims_with_Surething_Broker" type="numberOfClaimsWithSurethingBroker"/>
	<xs:element name="Previous_Policy_Annual_Premium" type="previousPolicyAnnualPremium"/>
	<xs:element name="Previous_Compulsory_Excess" type="previousCompulsoryExcess"/>
	<xs:element name="Actual_Payment_Method" type="actualPaymentMethod"/>
	<xs:element name="Auto_Renew" type="autoRenew"/>
	<xs:element name="Missed_Payment_Flag" type="missedPaymentFlag"/>
	<xs:element name="NB_Inception_Gap" type="nbInceptionGap"/>
	<xs:element name="Tenure_Relianz" type="tenureRelianz"/>
	<xs:element name="Tenure_Surething_Broker" type="tenureSurethingBroker"/>
	<xs:element name="Pass_Plus" type="passPlus"/>
	<xs:element name="Own_Insurance_Last_12_months" type="ownInsuranceLast12Months"/>
	<xs:element name="Provided_Driving_Licence" type="providedDrivingLicence"/>
	<xs:element name="Vehicle_Used_Wedding_Hire" type="vehicleUsedWeddingHire"/>
	<xs:element name="Side_Car_Fitted_Flag" type="sideCarFittedFlag"/>
	<xs:element name="Exclude_Pillion_Flag" type="excludePillionFlag"/>
	<xs:element name="Gross_Weight" type="grossWeight"/>
	<xs:element name="Trailer_Weight" type="trailerWeight"/>
	<xs:element name="Radius_Limit" type="radiusLimit"/>
	<xs:element name="Van_Racking" type="vanRacking"/>
	<xs:element name="Van_Signage" type="vanSignage"/>
	<xs:element name="Van_Public_Liability" type="vanPublicLiability"/>
	<xs:element name="Van_DrinkDrive_Course" type="vanDrinkdriveCourse"/>
	<xs:element name="Van_Previous_Policy_Made_Void" type="vanPreviousPolicyMadeVoid"/>
	<xs:element name="Van_Num_CCJS" type="vanNumCcjs"/>
	<xs:element name="Van_Refridgerated" type="vanRefridgerated"/>
	<xs:element name="Van_Business_Established_Months" type="vanBusinessEstablishedMonths"/>
	<xs:element name="Van_Special_Apparatus" type="vanSpecialApparatus"/>
	<xs:element name="Van_NCB_Other_Vehicles" type="vanNcbOtherVehicles"/>
	<xs:element name="Van_Hazardous_Goods" type="vanHazardousGoods"/>
	<xs:element name="Van_Years_Held_Insurance" type="vanYearsHeldInsurance"/>
	<xs:element name="Van_Trade_Body_Member" type="vanTradeBodyMember"/>
	<xs:element name="Van_Driving_Experience" type="vanDrivingExperience"/>
	<xs:element name="Van_Trailers" type="vanTrailers"/>
	<xs:element name="Multiple_product_information" type="multipleProductInformation"/>

</xs:schema>
